body{
  background-color:rgb(250, 250, 250);
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-family:Arial, Helvetica, sans-serif;
  color: rgb(75, 74, 74);
}

.buttons{
  display:flex;
  height:250px;
  width:900px;
  align-items:center;
  justify-content: center;
  background-color:rgb(255, 249, 249);
  margin-top:0;
  gap:10px;
  
}
.home{
  display:flex;
  align-items:center;
  justify-content: center;
}
button{
  display:flex;
  flex-direction:column;
  height:200px;
  width:200px;
  font-size:30px;
  padding:10px 10px;
  background-color:#83ebc5;
  border-radius:10px;
  font-weight:bold;
  color:rgb(75, 74, 74);
  border:none;
  cursor:pointer;
}
button:hover{
  background-color:#ff7878;
  border:none;
  color:#83ebc5;
}
img{
  height:100px;
  width:100px;
  object-fit:cover;
}

.top_bar{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
}
.webname{
  font-size:50px;
  font-weight:bold;
  margin:0 0 0 0;
  padding-top:10px;
}
.scooter{
  height:20%;
  width:20%;
}